body{
    background: #FBEEC1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.start .btn .blue{
    position: absolute;
    top: 85%;
    left: 50%;
}

nav{
    width: 300px;
    height: 100px;
    background:#6c7ae0;
    margin:40px auto;
    padding:10px 0px 20px 0px;
    border:1px solid #6c7ae0;
    border-radius:4px;
    text-decoration: none;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.75);
    font-family: 'Lato';
    position: absolute;
    top: 30px;
    left: -100px;
}

.noclick{
    cursor: default;
}

.averageTable{
    position: absolute;
    top: 10%;
    left: 75%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 600px;
}

th,
td{
    font-weight: unset;
    padding-right: 30px;
    padding-left: 40px;
}

th{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
}

td{
    font-family: 'Lato';
    font-size: 15px;
    color: #808080;
    line-height: 2;
}

tr:nth-child(even){
    background-color: #f8f6ff;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 250px;
    -webkit-perspective: 1000px;
}

.dice{
    border: 2px solid white;
    height: 250px;
    width: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .7s ease;
    animation: rotate 5s infinite;
    animation-iteration-count: 1;
}

@keyframes rotate{
    100%{
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

.face{
    background: white;
    height: 250px;
    width: 250px;
    border: 5px solid #FBEEC1;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.front{
    transform: translateZ(125px);
}

.right{
    transform: rotateY(-270deg) translateX(125px);
    transform-origin: top right;
}

.back{
    transform: translateZ(-125px) rotateY(180deg);
}

.left{
    transform: rotateY(270deg) translateX(-125px);
    transform-origin: center left;
}

.top{
    transform: rotateX(90deg) translateZ(125px);
}

.behind{
    transform: rotateX(-90deg) translateZ(125px);
}

.dice[data-face="1"]{
    transform: rotate3d(0, 0, 0, 90deg);
}

.dice[data-face="2"]{
    transform: rotate3d(0, 1, 0, 90deg);
}

.dice[data-face="3"]{
    transform: rotate3d(0, -1, 0, 90deg);
}

.dice[data-face="4"]{
    transform: rotate3d(-1, 0, 0, 90deg);
}

.dice[data-face="5"]{
    transform: rotate3d(1, 0, 0, 180deg);
}

.dice[data-face="6"]{
    transform: rotate3d(1, 0, 0, 90deg);
}

.dot{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
}

.front .dot1{
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.left .dot1{
    top: 50px;
    left: 50px;
}

.left .dot2{
    bottom: 50px;
    right: 50px;
}

.right .dot1{
    top: 50px;
    left: 50px;
}

.right .dot2{
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.right .dot3{
    bottom: 50px;
    right: 50px;
}

.top .dot1{
    top: 50px;
    left: 50px;
}

.top .dot2{
    top: 50px;
    right: 50px;
}

.top .dot3{
    bottom: 50px;
    left: 50px;
}

.top .dot4{
    bottom: 50px;
    right: 50px;
}

.back .dot1{
    top: 50px;
    left: 50px;
}

.back .dot2{
    top: 50px;
    right: 50px;
}

.back .dot3{
    bottom: 50px;
    left: 50px;
}

.back .dot4{
    bottom: 50px;
    right: 50px;
}

.back .dot5{
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.behind .dot1{
    top: 50px;
    left: 50px;
}

.behind .dot2{
    top: 50px;
    right: 50px;
}

.behind .dot3{
    bottom: 50px;
    left: 50px;
}

.behind .dot4{
    bottom: 50px;
    right: 50px;
}

.behind .dot5{
    top: calc(50% - 15px);
    left: 50px;
}

.behind .dot6{
    top: calc(50% - 15px);
    right: 50px;
}

.btn{
    border-radius: 5px;
    padding: 25px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    display: inline-block;
    outline: none;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 91px);
    color: #ffffff;
}
.btn:focus{
    outline: none !important;
} 
.btn:active{
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 5px 0px 0px;
    outline: none !important;
}

.blue{
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}
  
.blue:hover{
    background-color: #6FC6FF;
}

.background-selector{
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
}